@import url("http://fonts.googleapis.com/css?family=Roboto:100,700,900,100italic");
.navigation {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  height: 100px;
  position: relative;
  text-align: center;
  z-index: 100; }
  .navigation .inline-list {
    display: inline-block;
    margin: 0 auto; }
  .navigation .inline-list dt {
    margin: 0; }
  .navigation .inline-list dd {
    margin: 0;
    display: inline-block; }
  .navigation .about {
    margin-top: 11px;
    display: block; }
  .navigation .logo__container {
    display: inline-block;
    padding: 0; }
  .navigation .logo {
    background: url(../img/assets/visual-storytelling-logo.png) 0 0 no-repeat;
    display: inline-block;
    height: 41px;
    margin: 20px auto;
    text-indent: -9999px;
    width: 143px; }
    @media only screen and (min-width: 768px) {
      .navigation .logo {
        margin: 15px 0; } }
  .navigation a {
    color: #fff;
    line-height: 2.6;
    padding: 15px 30px;
    text-shadow: 0 3px 0 #00222c; }
    @media only screen and (min-width: 768px) {
      .navigation a {
        padding: 15px; } }
    .navigation a:hover, .navigation a:focus, .navigation a:active {
      color: #ffc349; }
  .navigation .active {
    color: #ffc349; }

.navigation__wide {
  background-color: #004f5c;
  height: auto; }
  @media only screen and (min-width: 768px) {
    .navigation__wide {
      overflow: hidden; }
      .navigation__wide:after {
        background: url(../img/assets/slant.png) 0 0 no-repeat;
        background-size: 100% 100px;
        content: '';
        display: block;
        height: 100px;
        margin: 0 auto;
        position: relative;
        width: 100%; } }

.theme-dark, .theme-dark .visual-header {
  color: #fff; }
  .theme-dark p, .theme-dark .visual-header p,
  .theme-dark cite,
  .theme-dark .visual-header cite {
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.8; }

.theme-dark--seafoam {
  background-color: #004f5c; }

.theme-dark--blueoil {
  background-color: #00222c; }

.content-body {
  padding: 60px 0; }

.visual-header {
  color: #004f5c;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  line-height: 1;
  text-align: center;
  text-transform: uppercase; }
  @media only screen and (min-width: 768px) {
    .visual-header {
      text-align: left; } }
  .theme-dark .visual-header {
    text-shadow: 0 3px 0 #00222c; }

h1.visual-header {
  font-size: 41px; }

h2.visual-header,
.visual-header--tiny {
  font-size: 20px; }

hgroup {
  margin: 1em 0; }
  hgroup h1,
  hgroup h2 {
    margin: 0; }

.chapter-quote,
.chapter-quote p {
  font-size: 30px;
  line-height: 1.2;
  text-align: center; }

.pull-quote {
  margin: 0 40px 20px;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .pull-quote,
    .pull-quote p {
      font-size: 20px;
      margin-right: 0;
      text-align: left; } }

ul,
ol {
  margin-left: 50px; }
  .theme-dark ul, .theme-dark .visual-header ul, .theme-dark
  ol, .theme-dark .visual-header
  ol {
    font-weight: 100;
    letter-spacing: 1px; }

figure img {
  margin: auto;
  display: block; }

blockquote,
blockquote p {
  color: #004f5c;
  font-family: "Roboto", sans-serif; }
blockquote cite {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: right; }
.theme-dark blockquote, .theme-dark .visual-header blockquote,
.theme-dark blockquote p,
.theme-dark .visual-header blockquote p {
  color: #fff; }

figure {
  margin: 20px 0; }

figcaption,
figcaption p,
figcaption blockquote,
figcaption blockquote p,
figcaption blockquote cite {
  font-size: 14px;
  line-height: 1.4;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #000; }
  .theme-dark figcaption, .theme-dark .visual-header figcaption, .theme-dark
  figcaption p, .theme-dark .visual-header
  figcaption p, .theme-dark
  figcaption blockquote, .theme-dark .visual-header
  figcaption blockquote, .theme-dark
  figcaption blockquote p, .theme-dark .visual-header
  figcaption blockquote p, .theme-dark
  figcaption blockquote cite, .theme-dark .visual-header
  figcaption blockquote cite {
    color: #fff; }

.visual-header--heavy {
  font-weight: 700; }

.visual-header--tiny {
  display: block; }

.visual-header--subhead {
  font-style: italic;
  padding: 0 30px 30px;
  text-transform: none; }
  .theme-dark .visual-header--subhead {
    text-shadow: none; }

.active {
  color: #ffc349; }

.navigation__chapter-list {
  color: #4d848d; }

.bio__image-mask {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 75px;
  overflow: hidden; }

.content-pagebottom {
  background-image: url(../img/assets/halftone-gradient.png);
  background-position: 0 0;
  background-repeat: repeat-x;
  padding: 60px 0; }

.booklist li {
  width: 140px; }
.booklist img {
  height: 190px;
  margin-bottom: 20px; }

.footer__next-prev {
  font-family: "Roboto", sans-serif;
  color: #4d848d; }
  .footer__next-prev li {
    margin: 0; }
  .footer__next-prev a {
    color: inherit;
    display: inline-block;
    padding: 10px 0; }
    .footer__next-prev a:hover {
      color: #ffc349; }

.footer__home {
  text-align: center; }

.footer__next {
  text-align: right; }
  .footer__next a {
    background-color: #4d848d;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 100;
    border-radius: 10px;
    padding: 10px 20px; }
    .footer__next a:hover {
      color: #fff;
      background-color: #ffc349; }
  .footer__next a:after {
    content: '\00BB';
    margin-left: 10px; }

.footer__prev a:before {
  content: '\00AB';
  margin-right: 10px; }

.image-border {
  border: 5px solid #4d848d;
  display: block;
  margin: 0 auto; }
