$vs-blue-1: #004f5c;
$vs-blue-2: #00222c;
$vs-blue-3: #4D848D;
$vs-yellow-1: #FFC349;

$vs-display-font: "Roboto", sans-serif;
$vs-standard-font: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;