@import url("http://fonts.googleapis.com/css?family=Roboto:100,700,900,100italic");

@import "variables";
@import "navigation"; 

.theme-dark {
    color: #fff;

    p,
    cite {
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 1.8;
    }
}

.theme-dark--seafoam {
    background-color: $vs-blue-1;
}

.theme-dark--blueoil {
    background-color: $vs-blue-2;
}

.content-body {
    padding: 60px 0;
}

.visual-header {
    color: $vs-blue-1;
    font-family: $vs-display-font;
    font-weight: 100;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    @media only screen and (min-width: 768px) {
        text-align: left;
    }

    .theme-dark & {
        @extend .theme-dark;
        text-shadow: 0 3px 0 $vs-blue-2;
    }
}

h1.visual-header {
    font-size: 41px;
}

h2.visual-header,
.visual-header--tiny {
    font-size: 20px;
}

hgroup {
    margin: 1em 0;
    h1,
    h2 {
        margin: 0;
    }
}

.chapter-quote {
    &,
    p {
        font-size: 30px;
        line-height: 1.2;
        text-align: center;
    }
}

.pull-quote {
    margin: 0 40px 20px;
    text-align: center;

    &,
    p {
        @media only screen and (min-width: 768px) {
            font-size: 20px;
            margin-right: 0;
            text-align: left;
        }
    }
}

ul,
ol {
    margin-left: 50px;

    .theme-dark & {
        font-weight: 100;
        letter-spacing: 1px;
    }
}

figure img {
    margin: auto;
    display: block;
}

blockquote {
    &,
    p {
        color: $vs-blue-1;
        font-family: $vs-display-font;
    }

    cite {
        font-family: $vs-standard-font;
        font-size: 16px;
        font-style: normal;
        text-align: right;
    }

    .theme-dark & {
        &,
        p {
            color: #fff;
        }
    }

}

figure {
    margin: 20px 0;
}

figcaption {
    &,
    p,
    blockquote,
    blockquote p,
    blockquote cite {
        font-size: 14px;
        line-height: 1.4;
        font-family: $vs-standard-font;
        color: #000;
        .theme-dark & {
            color: #fff;
        }
    }
}

.visual-header--heavy {
    font-weight: 700;
}

.visual-header--tiny {
    display: block;
}

.visual-header--subhead {
    font-style: italic;
    padding: 0 30px 30px;
    text-transform: none;

    .theme-dark & {
        text-shadow: none;
    }
}

.navigation__chapter-list {
    color: $vs-blue-3;
}

.bio__image-mask {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 75px;
    overflow: hidden;
}

.content-pagebottom {
    background-image: url(../img/assets/halftone-gradient.png);
    background-position: 0 0;
    background-repeat: repeat-x;
    padding: 60px 0;
}

.booklist {
    li {
        width: 140px;
    }
    img {
        height: 190px;
        margin-bottom: 20px;
    }
}