@import "../global/global";

.bios {
	background-image: url(../img/assets/halftone-gradient.png);
	background-position: 0 0;
	background-repeat: repeat-x;
	padding: 60px 0;
}

.bonus-content {
	background-image: url(../img/assets/halftone-gradient-seafoam.png);
	background-position: 0 0;
	background-repeat: repeat-x;
	padding: 60px 0;
}